.explore-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.explore-eyeglassses, .explore-sunglasses {
  flex: 1 1 45%;
}

.explore-sunglasses {
  margin-top: 100px;
}

.explore-eyeglassses img, .explore-sunglasses img {
  max-height: 70%;
  max-width: 100%;
}


.explore-eyeglassses h1, .explore-eyeglassses h4, 
.explore-sunglasses h1, .explore-sunglasses h4 {
  text-align: center;
}

.explore-eyeglassses h3, .explore-sunglasses h3 {
  margin-top: 20px;
  font-size: 20px;
}

.explore-sunglasses h1, .explore-eyeglassses h1 {
  font-size: 40px;
}

@media (max-width: 1000px) {
  .explore-container {
    flex-direction: column;
    align-items: center;
  }

  .explore-eyeglassses, .explore-sunglasses {
    width: 90%;
    margin: 20px 0;
  }

  .explore-sunglasses {
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  .explore-container {
    flex-direction: column;
    align-items: center;
  }

  .explore-eyeglassses, .explore-sunglasses {
    width: 100%;
    margin: 20px 0;
  }

  .explore-sunglasses {
    margin-top: 40px;
  }
}
