.header-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-container {
  height: 120px;
  margin-left: 10px;
}

.logo-container img {
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: 250px;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-items li {
  list-style: none;
  margin: 0 15px;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
}

.navbar-items li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.navbar-items li:hover a {
  color: rgb(209, 130, 130);
}

.navbar-items li .active {
  font-weight: bold;
  color: #d8345f;
}

.user-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-container .icon {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.hamburger-icon img {
  width: 30px;
  height: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #333;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
}

.sidebar-items li {
  padding: 15px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-items li a {
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar-items li:hover {
  color: rgb(209, 130, 130);
  background-color: #575757;
}

.sidebar-items li .active {
  font-weight: bold;
  color: rgb(209, 130, 130);
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.close-icon img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1000px) {
  .navbar-items {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .user-container {
    display: flex;
    margin-right: 15px;
  }

  .logo-container img {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .logo-container img {
    max-width: 140px;
  }
}

@media (max-width: 450px) {
  .logo-container {
    width: 80px;
  }

  .logo-container img {
    max-width: 80px;
  }

  .user-container {
    display: flex;
    margin-right: 10px;
  }

  .user-container .icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .sidebar-items li {
    font-size: 1rem;
  }
}
